.background {
  background-color: grey;
  min-height: 100vh;
  margin: 0;
}
.page-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.stoplight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.light-neck {
  height: 10rem;
  width: 6rem;
  margin-left: 6rem;
  background-color: rgb(34, 34, 34);
  box-shadow:  0 0 2rem rgb(0, 0, 0);
}
.light-body {
  height: 40rem;
  width: 18rem;
  border-radius: 1rem;
  background-color: rgb(34, 34, 34);
  box-shadow:  0 .5rem 1rem rgb(0, 0, 0);
}
.light-container {
  margin: 2.5rem;
  height: 10rem;
  width: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: rgb(59, 59, 59);
  box-shadow:  0 0 2rem rgb(51, 51, 51);
}
.red-light {
  height: 9rem;
  width: 10rem;
  background-color: rgb(182, 21, 21);
  border-radius: 50%;
  box-shadow:  0 0 2rem rgb(146, 0, 0);
}
.yellow-light {
  height: 9rem;
  width: 10rem;
  background-color: rgb(255, 217, 0);
  border-radius: 50%;
  box-shadow:  0 0 2rem rgb(199, 169, 0);
}
.green-light {
  height: 9rem;
  width: 10rem;
  background-color: rgb(0, 133, 33);
  border-radius: 50%;
  box-shadow:  0 0 2rem rgb(0, 109, 27);
}